.quiz-item-container {
    padding: 20px;
}

.quiz-card-title-item {
    font-size: 18px;
    color: #2563eb;
    text-align: center;
    margin-bottom: 20px;
}

.quiz-card-text-item {
    text-align: justify;
}

.quiz-item-row {
    display: flex;
    justify-content: center;
    row-gap: 20px; /* Spasi antar baris */
}

.quiz-item-col {
    display: flex;
    justify-content: center;
}

.quiz-item-card {
    width: 100%;
    max-width: 300px; 
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.quiz-item-card:hover {
    transform: scale(1.05);
}

.quiz-item-link {
    text-decoration: none;
    color: inherit;
}
