.sidebar {
    width: 240px;
    background: #011627;
    position: fixed;
    height: 100%;
    padding: 0 30px;
    padding-top: 80px;
    left: -250px;
    transition: all 0.3s ease;
    z-index: 9999; /* BIAR NIMPA KONTEN */
}


.sidebar.active {
    left: 0;
}

.logo {
    width: 50px;
    border-radius: 5px;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li a:hover,
ul li a.active {
    background: #172b4d;
}