.course-display {
    margin-top: 30px;
    margin-bottom: 30px;
}

.course-display h2{
    text-align: left;
    font-size: 30px;
}

.course-display-list {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 5rem;
    gap: 20px;
    row-gap: 50px;   
    max-width: 90%; 
    margin-left: 3rem;
    overflow-x: auto;
    /* transition: transform 0.2s ease-in-out;
    cursor: pointer; */
}


.category-title {
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: left;
    font-size: 30px;
}