.material-card-desc {
    text-align: justify;
}

.material-card {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.material-col {
    flex: 1;
    min-width: 250px;
}

.material-row {
    justify-content: center;
    width: 100%;
}

.material-card:hover {
    transform: scale(1.05);
}

.material-card-title {
    font-weight: bold;
}

.material-container {
    margin-top: 4rem;
}

.material-title {
    font-size: 30px;
    color: #2563eb;
    text-align: left;
}
  