.materi-card {
  border-radius: 16px;
  transition: transform 0.2s ease;
  cursor: pointer;
  min-height: 200px;
}

.materi-card:hover {
  transform: translateY(-5px);
}

.btn-lihat-materi {
  background-color: #6B7AA1;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  margin-bottom: 20px;
}

.course-title-display {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 32px;
  text-align: center;
}

.materi-title {
  text-transform: uppercase;
  font-weight: 600;
  /* color: #0d6efd; */
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 2;
}

.dots-icon {
  cursor: pointer;
  font-size: 20px;
  color: #444;
}

.card-menu-dropdown {
  position: absolute;
  top: 35px;
  right: 10px;
  background: white;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 6px;
  z-index: 3;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card-menu-dropdown button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
