/* .main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding-top: 3rem;
}

.main-content.shifted {
    margin-left: 250px; 
} */

.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
  }
  
  .sidebar.active ~ .main-content {
    margin-left: 0; /* Tetap 0 biar nggak terdorong */
  }
  

header {
    /* display: flex;
    justify-content: left;
    align-items: left; */
    /* padding: 30px; */
    display: flex;
    justify-content: space-between; /* Biar menu di kiri, icon di kanan */
    align-items: center;
    padding: 10px 20px;
    background: #011627;
    height: 50px;
    color: #eaecef;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header svg {
    font-size: 30px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
}

header a {
    margin-left: auto; /* Biar ikon user ke kanan */
    margin-right: 40px;
}