.tittle {
    text-align: center;
}

.text {
    margin-left: 10px;
    margin-top: 3rem;
}

.button {
    background-color: #2563eb;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #2563eb;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5rem;
}

.button:hover {
    background-color: #1e3a8a;
}

.back-icon {
    font-size: 30px;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 4rem;
}