
.profile-dropdown {
  position: absolute;
  top: 10px;
  right: 20px;
}
  
  
  .profile-icon {
    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
    justify-content: right;
    align-items: right;
  }
  
  
  .profile-dropdown.open .dropdown-menu {
    display: block; /* Tampilkan saat open */
    opacity: 1; /* Muncul */
    transform: translateY(0); /* Turun ke posisi normal */
    visibility: visible; /* Bisa diklik */
  }
  

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 45px;
    background: red;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 160px;
    z-index: 1000;
    padding: 5px; 
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    display: block; 
    visibility: hidden;
  }
  
  .dropdown-menu a {
    display: block;
    width: 100%;
    /* padding: 10px 15px; */
    text-align: left;
    border-radius: 5px; /* Biar tetap rapi */
  }

  .dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Sesuaikan dengan efek hover yang diinginkan */
    color: white; /* Pastikan warna teks tetap putih */
  }
  
  .logout:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Sesuaikan dengan efek hover yang diinginkan */
    color: white; /* Pastikan warna teks tetap putih */
  }

  .logout {
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: white;
    text-align: left;
    border-radius: 5px; /* Biar tetap rapi */
  }